<!-- Create a User form -->
{% extends 'base.html' %}
{% block title %} Create User {% endblock %}

{% block content %}
<h1> Create a user </h1>
    <form
      method="POST">
    <div class="create_user">
      <label for="first_name">First Name</label>
      <input id="first_name" name="first_name">
    </div>
    <div class="create_user">
      <label for="last_name">Last Name</label>
      <input id="last_name" name="last_name">
    </div>
    <div class="create_user">
      <label for="image_url">URL</label>
      <input id="image_url" name="image_url" type="url">
    </div>
    
    <button type="submit">Add</button>
  </form>
</section>
{% endblock %}
